<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div *ngFor="let film of films" class="swiper-slide" [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(https://image.tmdb.org/t/p/w500'+ film.backdrop_path +')'
    }">
      <div class="film-description">
        <h3>{{film.title}}</h3>
        <p>{{film.overview | slice:0:230}}...</p>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="slideNext()" class="swiper-button-prev"></div>
  <div (click)="slidePrev()" class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
